@import url("../../css/variables.css");

#timeline {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--body);
}

#timeline__grid {
  width: 95%;
  margin-top: 46px;
}

#timeline__grid__section-title {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}

#timeline__grid__content {
  width: 90%;
}