@import url("../../css/variables.css");

#timeline {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--body);
}

#timeline__grid {
  height: 95%;
  width: 95%;
}

#timeline__grid__section-title {
  width: 100%;
}

#timeline__grid__content {
  width: 90%;
}