@import url("../../css/variables.css");

#about {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--body);
}

#about__grid {
  height: 95%;
  width: 95%; 
}

#about__grid__section-title {
  width: 100%;
}

#about__grid__content {
  width: 100%;
}

#about__grid__content__desc {
  height: 100%;
}

#about__grid__content__desc__img {
  height: 200px;
  width: 200px;
}

#about__grid__content__desc__who-am-i {
  margin-top: 20px;
  font-weight: 700;
  color: var(--primary);
  font-family: 'Roboto', sans-serif;
}

#about__grid__content__desc__para {
  font-size: 1.1rem;
  text-align:justify;
  margin-top: 10px;
  color: var(--readable-black);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  width: 85%;
}

#about__grid__content__graph {
  height: 100%;
}

.about__grid__content__graph__item__circletexts {
  text-align: center;
}