@import url("../../css/variables.css");

#about {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--body);
}

#about__grid {
  height: 95%;
  width: 95%; 
}

#about__grid__section-title {
  width: 100%;
}

#about__grid__content {
  width: 100%;
}

.about__grid__content__grid {
  height: 100%;
}

#about__grid__content__grid__desc {
  width: 97.5%;
}

#about__grid__content__grid__desc__img {
  height: 200px;
  width: 200px;
}

#about__grid__content__grid__desc__who-am-i {
  margin-top: 20px;
  font-weight: 700;
  color: var(--primary);
  font-family: 'Roboto', sans-serif;
}

#about__grid__content__grid__desc__para {
  font-size: 1.1rem;
  text-align: justify;
  margin-top: 10px;
  color: var(--readable-black);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  width: 85%;
}

#about__grid__content__grid__graph {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 97.5%;
}

.about__grid__content__grid__graph__item__contents {
  text-align: center;
  width: 15%;
}

.about__grid__content__grid__graph__item__contents__titles {
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  color: var(--primary);
  font-weight: bolder !important;
}

.about__grid__content__grid__graph__item__contents__captions {
  width: 100%;
  color: var(--readable-black);
  font-size: 1.1rem !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
  padding-left: 15px;
  padding-right: 15px;
}