@import url("../../css/variables.css");

#about {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--body);
}

#about__grid {
  height: 95%;
  width: 95%; 
}

#about__grid__section-title {
  width: 100%;
}

#about__grid__content {
  width: 100%;
}

.about__grid__content__grid {
  height: 100%;
}

#about__grid__content__grid__desc {
  width: 97.5%;
}

#about__grid__content__grid__graph {
  width: 97.5%;
}