@import url("../../css/variables.css");

#navbar {
  z-index: 1;
  background-color: transparent;
  position: fixed;
  width: 100%;
  margin: 10px 0px 10px 0px;
  max-width: 1600px;
}

.navbar__grid {
  scroll-behavior: smooth;
}

.navbar__grid__item {
  font-size: 0.85rem;
  margin: 0 2rem 0 2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.5s;
}

.navbar__grid__item:hover {
  color: var(--primary);
}

.navbar__grid__item--light {
  color: white;
}

.navbar__grid__item--dark {
  color: var(--readable-black);
}

.navbar__grid__item--selected {
  color: var(--primary);
}
