@import url("../../css/variables.css");

.nav__grid__item {
  font-size: 0.85rem;
  margin: 0 1rem 0 1rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 50%;
}

.nav__grid__item:hover {
  color: var(--primary);
}